<launch>
  <!-- convert the scan data into point clouds --> 
  <node pkg="sandbox" type="scan2cloud" name="scan_to_cloud" />

  <!-- run the octomap node to build map-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value=".05" />

    <param name="frame_id" type="string" value="map" /> 

    <param name="max_sensor_range" value="30" />

    <remap from="cloud_in" to="my_cloud" />

    <param name="occupancy_max_z" value="10.0" />

  </node>
</launch>
    
